<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- multiple 여러개 업로드 가능 -->
    <input type="file" name="files" id="" multiple />
    <button class="uploadBtn">업로드</button>
    <script>
      document.querySelector(".uploadBtn").addEventListener("click", () => {
        // files 에 있는 파일 목록을 가져와서 폼 형태로 만들기
        const inputFile = document.querySelector("[name='files']");
        console.log(inputFile);

        // 파일 정보 가져오기
        const files = inputFile.files;
        console.log("files");
        console.log(files);

        // 스크립트에서 폼 태그
        const formData = new FormData();

        for (let index = 0; index < files.length; index++) {
          formData.append("uploadFiles", files[index]);
        }

        // for (const key of formData.keys()) {
        //   console.log(key);
        // }

        // for (const value of formData.values()) {
        //   console.log(value);
        // }

        fetch("/upload/uploadAjax", {
          method: "post",
          body: formData,
        })
          .then((response) => response.json())
          .then((data) => {
            console.log(data);
          });
      });
    </script>
  </body>
</html>
